//////////////////////////
// typo
//////////////////////////

// font-family
$font_text:         'Gesta', sans-serif;
$font_ui:           'GravurCondensed', sans-serif;

// font-size
$fs_tiny:     13px;
$fs_small:    15px;
$fs_base:     17px;
$fs_medium:   20px;
$fs_large:    24px;

//line-height
$lh_base:     1.2;

